<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to my newsletter</h2>
        <p>Receive emails from me about bootstrapping a business as a solo founder.</p>
        <!-- Begin MailChimp Signup Form -->
        <script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
        <div id="mc_embed_signup" class="ck_control_group ck_email_field_group">
            <form action="https://app.convertkit.com/landing_pages/7063/subscribe" method="post" id="ck_subscribe_form" name="mc-embedded-subscribe-form" class="ck_subscribe_form validate gh-subscribe-form" target="_blank" data-remote="true" novalidate>
                <input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
                <input type="hidden" name="id" value="7063" id="landing_page_id">
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="email" class="email subscribe-email" id="ck_emailField" placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->